# Image Data Cleaning

In [1]:
import pandas as pd

### RFMiD Data Cleaning

In [2]:
rfmid = pd.read_csv('../data/metadata/RFMiD/RFMiD_Training_Labels.csv')

# rfmid w/o other diseases apart from amd
rfmid_pure_amd = pd.read_csv('../data/metadata/RFMiD/RFMiD_AMD-wo-other-diseases.csv')
rfmid.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
rfmid_pure_amd.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,25,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,142,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,204,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,457,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,461,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
rfmid_pure_amd_IDs = rfmid_pure_amd['ID'].to_list()
print('rfmid_pure_amd_IDs =', len(rfmid_pure_amd_IDs))
print('rfmid_pure_amd =', len(rfmid_pure_amd))

rfmid_pure_amd_IDs = 34
rfmid_pure_amd = 34

In [5]:
# rfmid w/ other diseases apart from amd
rfmid_amd_others = rfmid

for i in range(len(rfmid_amd_others)):
    for j in range(len(rfmid_pure_amd_IDs)):
        if rfmid_amd_others['ID'][i] == rfmid_pure_amd_IDs[j]:
            rfmid_amd_others = rfmid_amd_others.drop(i)
            break

rfmid_amd_others = rfmid_amd_others.loc[rfmid_amd_others['ARMD'] == 1] .reset_index(drop=True)
#rfmid_amd_others.to_csv('../data/RFMiD/Training_Set/Training_Set/RFMiD_AMD-w-other-diseases.csv')
rfmid_amd_others.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,6,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
rfmid_normals = rfmid.loc[rfmid['Disease_Risk'] == 0]
#rfmid_normals.to_csv('../data/RFMiD/Training_Set/Training_Set/RFMiD_normals.csv')
rfmid_normals.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
print('Total of rfmid_amd_others =', len(rfmid_amd_others))
print('Total of rfmid_amd_w/o_others =', len(rfmid_pure_amd))
print('Total of rfmid normals = ', len(rfmid_normals))

Total of rfmid_amd_others = 66
Total of rfmid_amd_w/o_others = 34
Total of rfmid normals =  401

### ODIR Data Cleaning

In [8]:
odir_normal = pd.read_csv('../data/metadata/ODIR/ODIR-normal.csv')
odir_amd = pd.read_csv('../data/metadata/ODIR/ODIR-amd-wo-others.csv')
odir_amd_others = pd.read_csv('../data/metadata/ODIR/ODIR-amd-w-others.csv')

In [9]:
print('ODIR_Normal =', len(odir_normal))
odir_normal.head()

ODIR_Normal = 1001

,ID,Patient Age,Patient Sex,Left-Fundus,Right-Fundus,Left-Diagnostic Keywords,Right-Diagnostic Keywords,N,D,G,C,A,H,M,O
0,1,57,Male,1_left.jpg,1_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0
1,8,59,Male,8_left.jpg,8_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0
2,84,51,Female,84_left.jpg,84_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0
3,191,51,Female,191_left.jpg,191_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0
4,394,63,Male,394_left.jpg,394_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0

In [10]:
print('ODIR_AMD =', len(odir_amd))
odir_amd.head()

ODIR_AMD = 237

,ID,Patient Age,Patient Sex,Left-Fundus,Right-Fundus,Left-Diagnostic Keywords,Right-Diagnostic Keywords,N,D,G,C,A,H,M,O,filepath,labels,target,filename
0,48,69,Female,48_left.jpg,48_right.jpg,dry age-related macular degeneration,dry age-related macular degeneration,0,0,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",48_right.jpg
1,53,65,Female,53_left.jpg,53_right.jpg,wet age-related macular degeneration,dry age-related macular degeneration,0,0,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",53_right.jpg
2,55,62,Male,55_left.jpg,55_right.jpg,dry age-related macular degeneration,dry age-related macular degeneration,0,0,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",55_right.jpg
3,102,73,Female,102_left.jpg,102_right.jpg,dry age-related macular degeneration,dry age-related macular degeneration,0,0,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",102_right.jpg
4,126,66,Male,126_left.jpg,126_right.jpg,dry age-related macular degeneration,dry age-related macular degeneration,0,0,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",126_right.jpg

In [11]:
print('ODIR_AMD_Others =', len(odir_amd_others))
odir_amd_others.head()

ODIR_AMD_Others = 42

,ID,Patient Age,Patient Sex,Left-Fundus,Right-Fundus,Left-Diagnostic Keywords,Right-Diagnostic Keywords,N,D,G,C,A,H,M,O,filepath,labels,target,filename
0,43,35,Male,43_left.jpg,43_right.jpg,wet age-related macular degeneration,dry age-related macular degeneration，glaucoma,0,0,1,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",43_right.jpg
1,71,56,Female,71_left.jpg,71_right.jpg,diabetic retinopathy,wet age-related macular degeneration，diabetic ...,0,1,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",71_right.jpg
2,212,67,Female,212_left.jpg,212_right.jpg,dry age-related macular degeneration，diabetic ...,dry age-related macular degeneration，diabetic ...,0,1,0,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",212_right.jpg
3,238,70,Male,238_left.jpg,238_right.jpg,dry age-related macular degeneration,dry age-related macular degeneration，glaucoma,0,0,1,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",238_right.jpg
4,247,49,Male,247_left.jpg,247_right.jpg,dry age-related macular degeneration，glaucoma,dry age-related macular degeneration，glaucoma,0,0,1,0,1,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['A'],"[0, 0, 0, 0, 1, 0, 0, 0]",247_right.jpg